{
  ApplicationName = Dictionary;
  ApplicationDescription = "A NeXT-style dictionary browser using dict.";
  NSExecutable = Dictionary;
  NSIcon = "Dictionary.tiff";
  NSMainNibFile = "";
  NSServices = (
    {
      NSMenuItem = {
        default = "Look Up in Dictionary";
      };
      NSMessage = lookupSelection;
      NSPortName = Dictionary;
      NSSendTypes = (NSStringPboardType);
    }
  );
}
